<div class="registration-form">
    <form [formGroup] ="homeworkForm"  (ngSubmit)="AddHomework()">
        <div class="form-icon">
            <img src="assets/img/cour.png">
        </div>
        <!-- input sujet -->
        <div class="form-row">
            <input 
            type="text" 
            formControlName="sujet"  
            [(ngModel)]="homework.sujet" 
            placeholder="Sujet"
            [ngClass]="{'is-invalid': homeworkForm.get('sujet')?.touched && !homeworkForm.get('sujet')?.valid}" 
            >
            <div class="invalid-feedback">
                <span *ngIf="homeworkForm.get('sujet')?.errors?.['required']">Nom du sujet est Obligatoire</span>
            </div>
        </div>
        <!-- list nom matiere -->
        <div class="form-row">
            <select formControlName="matiereHomework" [(ngModel)]="homework.matiereHomework" class="form-select" id="validationCustom04" name="idMatiere" placeholder="Nom Matiere"  required>
              <option value="">....Select...</option>
              <option *ngFor="let matiere of matieres" [value]="matiere.nom">{{ matiere.nom }}</option>
            </select>
            <div *ngIf="submitted && homeworkForm.get('matiere')?.errors?.['required']" class="invalid-feedback">
              <div>Nom de Matiere est Obligatoire</div>
            </div>
        </div>
        <!-- importation fichier -->
       
        <!-- date remise -->  
        <div class="form-row">
            <div class="col-md-12" >
                <input 
                formControlName="dateRemise" 
                type="date"  
                [(ngModel)]="homework.dateRemise" 
                placeholder="Date de Remise" 
                [ngClass]="{'is-invalid':homeworkForm.get('dateRemise')?.touched && !homeworkForm.get('dateRemise')?.valid}"
                > 
            </div>
            <div class="invalid-feedback">
                <span *ngIf="homeworkForm.get('dateRemise')?.errors?.['required']">Date de remise est Obligatoire</span>
            </div>
        </div>

        <!-- date recu --> 
        <div class="form-row">
            <div class="col-md-12" >
                    <input 
                    formControlName="dateRecu" 
                    type="date" 
                    [(ngModel)]="homework.dateRecu" 
                    placeholder="Date de Réception" 
                    [ngClass]="{'is-invalid':homeworkForm.get('dateRecu')?.touched && !homeworkForm.get('dateRecu')?.valid}"

                    >
            </div>
            <div class="invalid-feedback">
                <span *ngIf="homeworkForm.get('dateRecu')?.errors?.['required']">Date de reçu est Obligatoire</span>
            </div>
        </div>
          
        <div class="form-row">
            <div class="col-md-12">
                <select formControlName="classe" 
                [(ngModel)]="homework.classeHomework" 
                class="form-select" id="validationCustom04" 
                placeholder="Nom Matiere" 
                [ngClass]="{'is-invalid':homeworkForm.get('classe')?.touched && !homeworkForm.get('classe')?.valid}"

                >
                    <option value="">....Select...</option>
                    <option *ngFor="let classe of classes" [value]="classe.nom">{{ classe.nom }}</option>
                </select>
                  
                <div class="invalid-feedback">
                    <span *ngIf="homeworkForm.get('classe')?.errors?.['required']">Selectionné le classe </span>
                </div>
               
            </div>
        </div>
        <label class="form-group">
            <textarea 
            name="" 
            id="" 
            placeholder="Detail " 
            required="required" 
            [(ngModel)]="homework.description" 
            formControlName="description"
            [ngClass]="{'is-invalid':homeworkForm.get('description')?.touched && !homeworkForm.get('description')?.valid}"

                 ></textarea>
           
            <div class="invalid-feedback">
                <span *ngIf="homeworkForm.get('description')?.errors?.['required']">Expliqué le sujet  </span>
            </div>
        </label>

        <div class="form-group">
            <button type="submit" class="btn btn-block create-account" >Ajouter Homework</button>
            <!--  -->
        </div>
    </form>

</div>