h1,h3{
  font-weight: bold;
}
.add{
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color:#06BBCC;
  border: none;
  color: white;
  margin-top: 20px;
}

.fc .fc-timegrid-slot {
  height: 500px; /* Ajustez la hauteur selon vos besoins */
}

/* Ajuste également la hauteur des créneaux vides pour être cohérent */
.fc-timegrid-slot-lane {
  height: 500px; /* Assurez-vous que la hauteur correspond à celle définie pour les créneaux horaires */
}
.dialog{
  width: '300px'
}
