<mat-toolbar>

  Dashboard Administrateur

  <nav class="navbar navbar-expand bg-blue  navbar-light sticky-top px-4 py-0" >

    <div class="navbar-nav align-items-center ms-auto">


      <div class="nav-item dropdown">
        <a href="#" class="nav-link " data-bs-toggle="dropdown">
          <div class=" d-lg-inline-flex align-items-center " >
              <mat-icon class="icon">notifications</mat-icon>
              <span  >Notifications   </span>
          </div>

      </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          <a class="dropdown-item" >
            <ng-container >

              <h6 class="fw-normal mb-0">test</h6>
              <small>test</small> <br>
              <small>date</small> : <small>test</small><br>
              <small>Status</small> : <small>test</small><br>
              <small>Actions</small> :
              <button mat-icon-button color="warn" matTooltip="Supprimer"
                      aria-label="Button that displays a tooltip when focused or hovered over"
                      >
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="bg-light" matTooltip="marquer comme lue"
                      aria-label="Button that displays a tooltip when focused or hovered over"
                      >
                <mat-icon>check_circle</mat-icon>
              </button>

            </ng-container>
          </a>


        </div>
      </div>
    </div>

  </nav>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>




<mat-sidenav-container class="sidenav-container">
  <ng-content></ng-content>
  <mat-sidenav #sidenav="matSidenav" class="sidenav" mode="side" opened>
      <button mat-button class="menu-button" routerLink="">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button"  [matMenuTriggerFor]="menu1">
          <mat-icon>school</mat-icon>
          <span>Gestion Pédagogique</span>
          <mat-menu #menu1="matMenu">
              <button mat-menu-item routerLink="classe"  >Classe</button>
              <button mat-menu-item routerLink="matiere">Matière</button>
              <button mat-menu-item routerLink="emplois-temps">Emplois du temps</button>
              <button mat-menu-item routerLink="resultat">Resultat</button>
          </mat-menu>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
          <mat-icon>no_meeting_room</mat-icon>
          <span>Gestion des Présence</span>
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="Add-Absence">Gestion des absence</button>
              <button mat-menu-item routerLink="addconges">Gestion des congés</button>
              <button mat-menu-item routerLink="">Gestion des abscences</button>
          </mat-menu>
      </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [matMenuTriggerFor]="menu2">
      <mat-icon>no_meeting_room</mat-icon>
      <span>Gestion Des Congés</span>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink="Leave-list">
          Liste des Congés
        </button>
        <button mat-menu-item routerLink="Leave-type-list">
          Gestion des Types
        </button>
      </mat-menu>
    </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="calender">
          <mat-icon>calendar_today</mat-icon>
          <span>Emploi de Temps</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="transport">
        <mat-icon> directions_bus</mat-icon>
          <span>Gestion Transport</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="cantine">
        <mat-icon> fastfood</mat-icon>
          <span>Gestion Cantine</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" >
        <mat-icon>person_outline</mat-icon>
          <span>Gestion Comptes</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
      </button>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
      <div class="content">
          <main>
              <router-outlet></router-outlet>
          </main>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

