mat-card{
    margin: 2%;
}

button{
    margin: 2px;
}

th{
    background-color: rgba(165, 172, 173, 0.575) !important;
    color: black;
}
mat-card-content{
    background: none;
}
.align{
    margin-left: auto;
}

i {
    padding-left: 20px;
    font-size: 15px;
    color: rgb(2, 39, 61);
}
.transparent-table {
    background-color: transparent;
}