.user-list-container {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .error {
    color: red;
  }

  .search-container{
    display: flex ;
    justify-content: flex-end;
    margin-bottom:10px ;
    margin-top:10px ;
    margin-left: 800px;


  }

  .buttomadd {
    border-radius: 15px;
    margin-top:60px ;
  }
  

  .qr-code-container {
    position: absolute; /* Position absolue par rapport au parent */
    top: 70%; /* Alignement vertical au milieu */
    right: 20px; /* Marge de 20px à droite */
    transform: translateY(-50%); /* Décalage vertical de 50% de la hauteur de l'élément */
  }
  