<div class="container" style="margin-top:30px ;">
  <div class="row justify-content-center">

            <div class=" col-md-9 mr-10 col-xl-8 ">
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
      <div class="col-md-3" >
          <form [formGroup]="rdvForm" (ngSubmit)="ajouterRDV()">
              <h3 class="text-center"><Strong> Créer un rendez-vous</Strong></h3>
              <div class="mb-3">
                  <label class="form-label">Elèves/Enseignant</label>
                  <input type="text" class="form-control" formControlName="user" >
                  <div *ngIf="rdvForm.get('user')?.touched && rdvForm.get('user')?.invalid" class="invalid-feedback alert alert-danger">
                      Sélectionner au moins un élève
                    </div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Date </label>
                  <input type="datetime-local" class="form-control" formControlName="date" [ngClass]="{'is-invalid': rdvForm.get('date')?.touched && rdvForm.get('date')?.invalid}" required>
                  <div *ngIf="rdvForm.get('date')?.touched && rdvForm.get('date')?.invalid" class="invalid-feedback alert alert-danger" >
                      La date est obligatoire
                    </div>
              </div>

              <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>

      </div>
  </div>




</div>
