
<div class="content">

  <div class="container">
    <h2 class="mb-5">Gestion des classe </h2>

    <div class="table-responsive">

      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">Nom</th>

            <th scope="col">Niveau</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let c of classes t">
            <td class="pl-0">
              {{c.nom}} {{c.prenom}}
            </td>
            <td>{{c.niveau}}</td>
            <td>

              <button mat-fab color="second" aria-label="Example icon button with a delete icon"
                (click)="editerClasse(c.id)" matTooltip="Modifier classe">
                <mat-icon>check_circle</mat-icon>
              </button>

              <button mat-fab color="warn" aria-label="Example icon button with a delete icon"
                (click)="deleteClasse(c._id)"  matTooltip="Supprimer classe">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
