
<div class="content">

  <div class="container">
    <div class="container">
      <div class="title-and-button">
        <h1 class="title">Listes des classes</h1>
        <button id="btnAdd" type="button" class="btn btn-info" routerLink="../addClasse" >Ajouter classe</button>
      </div>
    </div>
    <div class="table-responsive">
    <app-table [tableData]="classes"
              [tableColumns]="classesTableColumns"
              [isFilterable]="true"
              [isPageable]="true"
              [isDetailIcon]="true"
              [paginationSizes]="[2,4,6]"
              [defaultPageSize]="4"
              (sort)="sortData($event)"
              [rowActionEditIcon]="'edit'"
              [rowActionDeleteIcon]="'delete'"
              [rowActionDetailIcon]="'dehaze'"
              (rowEditAction)="editerClasse($event)"
              (rowDetailAction)="detailClasse($event)"
              (rowDeleteAction)="deleteClasse($event)">
</app-table>
 </div>



  </div>

</div>
