<div class="container" style="margin-top:50px ;">
  <div class="row-2">
    <div  class="title-and-button">
      <div  routerLink="../cantine">
        <mat-icon>arrow_back_ios</mat-icon>
      </div>
    <h1 class="title">Responsable de la cantine  </h1>
    </div>
      <div class="col">
          <div class="card custom-card">
            <div class="card-body  ">
                Nom Responsable Mme <span style="font-weight: bold;">{{groupCantine[0]["nomResponsable"]}}</span>
                <br>
                <br>
                Téléphone  <span style="font-weight: bold;">{{groupCantine[0]["telephone"]}}</span>
            </div>
        </div>
       </div>
       <br>
      <div class="col">

       <div class="table-responsive">
        <app-table [tableData]="groupUserList"
        [tableColumns]="groupUserTableColumns"
        [isFilterable]="true"
        [isPageable]="true"
        [isDetailIcon]="true"
        [paginationSizes]="[2,4,6]"
        [defaultPageSize]="4"
        [rowActionEditIcon]="'edit'"
        [rowActionDeleteIcon]="'delete'"
        [rowActionDetailIcon]="'remove_red_eye'"
        (rowEditAction)="editerGroupUser($event)"
        (rowDetailAction)="detailGroupUser($event)"
        (rowDeleteAction)="deleteGroupUser($event)">
</app-table>
     </div>
     </div>
     </div>
     </div>
