<mat-toolbar>
    Dashboard Enseignant
    <nav class="navbar navbar-expand bg-blue navbar-light sticky-top px-4 py-0">
      <div class="navbar-nav align-items-center">
        <span class="navbar-text">
          Bonjour, {{ firstname }}
        </span>
      </div>
    </nav>
  </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <ng-content></ng-content>
    <mat-sidenav #sidenav="matSidenav" class="sidenav" mode="side" opened>
        <button mat-button class="menu-button" routerLink="">
            <mat-icon>home</mat-icon>
            <span>Accueil</span>
        </button>
        <mat-divider></mat-divider>
        <button class="menu-button" [routerLink]="['profilens/:id']">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        
        
        <mat-divider></mat-divider>
       
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu1">
            <mat-icon>school</mat-icon>
            <span>Gestion Pédagogique</span>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item routerLink="statuscour">Matière</button>
                <button mat-menu-item routerLink="addcour">HomeWork</button>
                <button mat-menu-item routerLink="addcour">Resultat</button>
            </mat-menu>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
            <mat-icon>domain_disabled</mat-icon>
            <span>Gestion des congés</span>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="statuscongesens">Mes Congés</button>
                <button mat-menu-item routerLink="addconges">Ajouter congés</button>
            </mat-menu>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="absenceeleves">
            <mat-icon>no_meeting_room</mat-icon>
            <span>Gestion des absences</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="noteeleve">
            <mat-icon>border_color</mat-icon>
            <span>Gestion des Notes</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="calender">
            <mat-icon>calendar_today</mat-icon>
            <span>Emploi de Temps</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Déconnexion</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <div class="content">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
