<div class="content">

  <div class="container">
    <h2 class="mb-5">Mes congés</h2>
    <input type="text"   placeholder="recherche">






    <div class="table-responsive">



      <table class="table table-striped custom-table">
        <thead>
        <tr>



          <th scope="col">date debut</th>
          <th scope="col">date fin</th>
          <th scope="col">message</th>
          <th scope="col">Actions</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>


        <tr  >

          <td class="pl-0">
            06/05/2022
          </td>

          <td class="pl-0">10/05/2022</td>

          <td>congé de maternite</td>
          <td>

            <button class="btn"><i class="fa fa-trash"></i></button>
            <button class="btn1">edit</button>


          </td>






          <td>
            rejected
          </td>









        </tr>





        </tbody>
      </table>
    </div>


  </div>

</div>

