

<div class="content">

  <div class="container">
    <div class="container">
      <div class="title-and-button">
        <h1 class="title">Listes des types de congés</h1>
        <button id="btnAdd" type="button" class="btn btn-info" (click)="openDialog()" >Ajouter Type</button>
      </div>
    </div>
    <div class="table-responsive">
      <app-table [tableData]="leaveType"
                 [tableColumns]="leaveTypeTableColumns"
                 [isFilterable]="true"
                 [isPageable]="true"
                 [isDetailIcon]="true"
                 [paginationSizes]="[2,4,6]"
                 [defaultPageSize]="4"
                 (sort)="sortData($event)"
                 [rowActionEditIcon]="'edit'"
                 [rowActionDeleteIcon]="'delete'"
                 [rowActionDetailIcon]="'remove_red_eye'"
                 (rowDeleteAction)="deleteleave($event)"
                 (rowEditAction)="updateleave($event)">
      </app-table>
    </div>

</div>
