<div class="registration-form">
    <form [formGroup] ="noteForm"  (ngSubmit)="AddNote()">
        <div class="form-icon">
            <img src="assets/img/addNote.png">
        </div>
        
        <!-- list nom matiere -->
        <div class="form-row mb-3">
            <select formControlName="matiere"
             class="form-select"
             required>
             <option value="">Sélectionner une matière</option>
              <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.nom }}</option>
            </select>
            <div *ngIf="submitted && noteForm.get('matiere')?.errors?.['required']" class="invalid-feedback alert alert-danger">
              <div>Nom de Matiere est Obligatoire</div>
            </div>
        </div>
           <!-- Classe -->  
        <div class="form-row mb-3">
                <select formControlName="classe" 
                class="form-select" 
                [ngClass]="{'is-invalid':noteForm.get('classe')?.touched && !noteForm.get('classe')?.valid}"
                >
                    <option value="">Sélectionner une classe</option>
                    <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom }}</option>
                </select>
                  
                <div class="invalid-feedback alert alert-danger">
                    <span *ngIf="noteForm.get('classe')?.errors?.['required']">Selectionné le classe </span>
                </div>
               
        </div>
       <!-- Liste eleves -->
       <div class="form-row mb-3" >
                <select formControlName="eleve" 
                class="form-select" 
                placeholder="L'élève" 
                [ngClass]="{'is-invalid':noteForm.get('eleve')?.touched && !noteForm.get('eleve')?.valid}"

                >
                    <option value="">Sélectionner un élève</option>
                    <option *ngFor="let eleve of eleves" [value]="eleve.id">{{ eleve.nom }}</option>
                </select>
                
                <div class="invalid-feedback">
                    <span *ngIf="noteForm.get('eleve')?.errors?.['required']">Selectionné le eleve </span>
                </div>
            
            </div>
        <div class="form-row mb-3">
            <input 
            type="text" 
            formControlName="noteOrale" 
            class="form-control" 
            placeholder="Note orale"
            [ngClass]="{'is-invalid': noteForm.get('noteOrale')?.touched && !noteForm.get('noteOrale')?.valid}" 
            >
            <div class="invalid-feedback">
                <span *ngIf="noteForm.get('noteOrale')?.errors?.['required']">Note Orale est Obligatoire</span>
            </div>
        </div>

        <div class="form-row mb-3">
            <input 
            type="text" 
            formControlName="noteExamen"  
            class="form-control"
            placeholder="Note Examen"
            [ngClass]="{'is-invalid': noteForm.get('noteExamen')?.touched && !noteForm.get('noteExamen')?.valid}" 
            >
            <div class="invalid-feedback">
                <span *ngIf="noteForm.get('noteExamen')?.errors?.['required']">Note examen est Obligatoire</span>
            </div>
        </div>
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-block create-account" >Ajouter note</button>
            <!--  -->
        </div>
    </form>

</div>