
<div class="content">

  <div class="container">
    <div class="container">
      <div class="title-and-button">
        <h1 class="title">Listes des salles</h1>
        <button id="btnAdd" type="button" class="btn btn-info" routerLink="../add-salle" >Ajouter salle</button>
      </div>
    </div>
    <div class="table-responsive">
    <app-table [tableData]="salles"
              [tableColumns]="sallesTableColumns"
              [isFilterable]="true"
              [isPageable]="true"
              [isDetailIcon]="false"
              [paginationSizes]="[2,4,6]"
              [defaultPageSize]="4"
              (sort)="sortData($event)"
              [rowActionEditIcon]="'edit'"
              [rowActionDeleteIcon]="'delete'"
              [rowActionDetailIcon]="'remove_red_eye'"
              (rowEditAction)="editerS($event)"
              (rowDetailAction)="detailS($event)"
              (rowDeleteAction)="deleteS($event)">
</app-table>
 </div>



  </div>

</div>
